<h1>Hi!You are in private user page</h1>

<%= render 'form' %>


<ul>
    <% @lists.each do |list, transaction| %>
        <li><%= list.name %>
        <%= link_to 'Show', list %>
        <%= link_to 'Edit', edit_list_path(list) %>
        <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
</ul>


<%= link_to 'Add a list', new_list_path %>
