
<div class="usercontent1">
  <h1 class="color">
      <%= @list.name %>
  </h1>

  <%= render 'form2' %>

  <br><br>

  <ul class="color" id="size">
      <% @transactions.each do |transaction| %>
      <!-- yield to block -->
          <li><%= transaction.item %>     <%= transaction.amount %>
          <%= link_to 'Edit', edit_transaction_path(transaction) %>
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>

  </ul>
  <br>

  <%= link_to 'Back', lists_path, class:'back' %>

</div>




<!-- <div class="userpage1"></div> -->




<!-- <button><%= link_to 'Add a transaction', new_transaction_path %></button> -->
